
<div class="row">
    <div class="col-sm-8 col-md-6 col-md-offset-4 col-sm-offset-3" style="position: absolute; left:32%;">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <div class="row">
            <div class="col-sm-8">
                <div id="charge-error" class="alert alert-danger" style="display: none;"></div>
            </div>
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" placeholder="Address" required>
                    </div>
                </div>   
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="card-name">Card-Holder Name</label>
                        <input type="text" id="card-name" class="form-control" placeholder="Card-Holder Name" required>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label for="card">Card information</label>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="card-number" class="form-control" placeholder="Card Number" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" id="card-expiry-month" class="form-control" placeholder="Expiration month" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">                                                
                                <input type="text" id="card-expiry-year" class="form-control" placeholder="Expiration year" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">                                                
                                <input type="text" id="card-cvc" class="form-control" placeholder="CVC" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <button class="btn btn-success btn-lg btn-block" onclick="
                        var name = document.getElementById('name').value;
                        var address = document.getElementById('address').value;
                        var card_name = document.getElementById('card-name').value;
                        var card_number = document.getElementById('card-number').value;
                        var exp_month = document.getElementById('card-expiry-month').value;
                        var exp_year = document.getElementById('card-expiry-year').value;
                        var cvc = document.getElementById('card-cvc').value;
                        

                        if (name.length <= 2 || name.match(/[1-9]/g)){
                            alert('Incorrect Name');
                        }
                     
                        else if (address.length <= 3 && !(address.match(/^[a-zA-Z0-9\s,.'-]{3,}$/))){
                            alert('Incorrect adress');
                        }

                        else if (card_name.length <= 2 || card_name.match(/[1-9]/g)){
                            alert('Incorrect Card-holder name');
                        }
                            
                        else if (card_number.length != 16 || !(card_number.match(/^[0-9]*$/g))){
                            alert('Incorrect Card number (must be 16 digits)');
                        } 
                            
                        else if (new Date(exp_month +'/01/' +exp_year) < new Date()){
                            alert('Incorrect Card expiration');
                        } 
                            
                        else if (cvc.length != 3 || !(cvc.match(/^[0-9]*$/g))){
                            alert('Incorrect CVC (must be 3 digits)');
                        } 
                        
                        else{
                            window.location.replace('/successpay');
                            alert('Successful payment');
                        }       
                    ">Pay ${{total}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
